.alt-screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  padding-top: 40px;
  opacity: 90%;
}

.alt-screen-header .alt-screen-header__title {
  font-size: 26px;
  font-weight: 600;
}
.alt-screen-header__icons span {
  margin-left: 20px;
}

.alt-screen-header__icons span:last-child {
  margin-left: 20px;
}

.alt-screen-header__back {
  width: 33%;
}
.alt-screen-header__title {
  width: 33%;
  text-align: center;
}
.alt-screen-header__icons {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}
